/* Colors 
Background #530a0e
Text color #ffffff
Accent color #000000
leuk
/*
/* Main CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-style: Classic, Slab + Serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Fredoka", sans-serif;
}

.container {
  height: auto;
  width: 100%;
  text-align: center;
}
/* ------------- */
/* Socials */
.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 15px;
}

.fa-shopping-cart {
  width: 100%;
  font-size: 20px;
  border-radius: 0%;
  height: 100%;
}

.fa-instagram,
.fa-facebook,
.fa-linkedin {
  padding: 10px 0 10px 0;
  color: black;
  transition: color ease 1s;
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-linkedin:hover {
  color: #ec4444;
  background: none;
}
/* ------------- */
/* Header */
header {
  width: 100%;
  background-color: #530a0e;
  position: fixed;
  z-index: 1000;
  padding: 0;
}

.navagationbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo h2 {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  color: RGB(249, 249, 249);
  font-weight: 600;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  margin-left: 25px;
}

@media only screen and (max-width: 550px) {
  .navagationbar {
    max-width: 95%;
  }
}

@media only screen and (max-width: 550px) {
  #logo h2 {
    display: none;
  }
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ec4444;
  }
}

.searchBar {
  height: 44px;
  border-radius: 4px;
  font-size: 14px;
  width: 400px;
  padding: 5px 5px;
  border: 1px solid;
  margin: 0 25px 0 25px;
}

nav ul {
  display: flex;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  color: RGB(249, 249, 249);
  font-size: 18px;
  padding: 25px 20px;
  display: inline-block;
  transition: all 0.5s ease 0s;
  margin: 0;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #ec4444;
  box-shadow: inset 0 0 0 2em white;
  border-color: black;
}

/* Dropdown Menu */
.toggle-menu ul {
  display: table;
  width: 25px;
}

.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: RGB(249, 249, 249);
  margin-bottom: 4px;
}

input[type="checkbox"],
label {
  display: none;
}

@media only screen and (max-width: 1200px) {
  header {
    padding: 20px 0px;
  }

  input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }

  label {
    padding: 8px 0px;
    display: inline-block;
    cursor: pointer;
    margin-right: 25px;
  }

  input[type="checkbox"]:checked ~ nav {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 77px;
    background-color: #530a0e;
    z-index: 99;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
  }

  nav ul li a i {
    color: #ec4444;
    padding-right: 13px;
  }
}
/* ------------- */
/* landingPage */
#start {
  width: 100%;
  height: 100vh;
  background: url("../Images/topimage-pizza-margherita-2021m05-800x533-1.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

#start:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#start .landingPageInfo {
  width: 50%;
  height: 200px;
  margin-left: 18%;
  position: absolute;
  display: flex;
  align-items: center;
  animation: 2s ease-out 0s 1 fromLeft;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#start .landingPageInfo .pasFoto img {
  width: 150px;
  animation: morph 8s ease-in-out infinite 1s;
  margin-left: 25px;
  border: 5px solid black;
}

#start .landingPageInfo .landingPageText {
  height: 100%;
  margin-left: 20px;
  margin-top: 50px;
}

@media only screen and (max-width: 930px) {
  #start {
    justify-content: center;
  }

  #start .landingPageInfo {
    justify-content: center;
    margin-left: 0;
  }

  #start .landingPageInfo .pasFoto {
    display: none;
  }

  #start .landingPageInfo .landingPageText {
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.landingPageInfo .landingPageText h1 {
  font-size: 64px;
  color: black;
}

.landingPageInfo .landingPageText p {
  font-size: 20px;
}

#pageAbout {
  height: 15px;
}

/* ------------- */
/* Login / Register */
.loginRegisterContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.login-register {
  width: 350px;
  height: auto;
  background-color: orange;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  color: white;
}

.buttons {
  width: 350px;
  height: auto;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button {
  cursor: pointer;
  height: 44px;
  font-size: 14px;
  color: #fff;
  background-color: orange;
  border-color: orange;
  border-radius: 15px;
  width: 150px;
}

.login-register h2 {
  font-size: 40px;
  margin-bottom: 25px;
}

.login-register form {
  width: 100%;
}

.login-register form .error {
  margin-bottom: 25px;
}

.login-register form h3 {
  font-size: 20px;
}

.login-register form input {
  height: 44px;
  border-radius: 4px;
  font-size: 14px;
  width: 80%;
  padding: 5px 5px;
  border: 1px solid;
  margin-top: 5px;
  margin-bottom: 25px;
}

.login-register form .submitLogin-register {
  cursor: pointer;
  height: 44px;
  font-size: 14px;
  color: #fff;
  background-color: orange;
  border-color: black;
  border-radius: 15px;
  width: 100px;
}

@media only screen and (max-width: 425px) {
  .login-register {
    width: 90%;
  }
}

/* ------------- */
/* Row Column layout  */
.container section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.row {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 100px;
  margin: 150px 0 200px 0;
}

.sectionRow {
  margin: 25px 0 0 0;
}

.row .column {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 35%;
  padding: 15px;
  text-align: start;
}

.row .imageBlock {
  align-items: center;
}

.row .menuImage {
  display: block;
}

.row .column .textLine,
.adminRow .adminColumn .textLine {
  height: 5px;
  width: 100px;
  background-color: #530a0e;
}

.row .column img {
  width: 80%;
}

.row .column .titleLine,
.adminRow .adminColumn .titleLine {
  font-size: 40px;
  margin-bottom: 30px;
}

.row .column p,
.adminRow .adminColumn p {
  font-size: 20px;
  margin-top: 30px;
}

@media only screen and (max-width: 1100px) {
  .container section {
    height: auto;
    padding-top: 100px;
  }

  .row {
    flex-direction: column;
    margin: 50px 0 100px 0;
  }

  .row .column {
    width: 80%;
    align-items: center;
    text-align: center;
  }

  .row .imageBlock {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .row .menuImage {
    display: none;
  }

  .row .column img {
    width: 60%;
  }

  .reverseRow {
    flex-direction: column-reverse;
  }
}
/* ------------- */
/* Menu  */
.containerMenu {
  text-align: center;
  height: 100%;
  padding-top: 50px;
}

.titelStreepje {
  font-size: 50px;
  height: 65px;
  position: relative;
  margin-top: 40px;
}

.containerMenu .subTitel {
  font-size: 40px;
  height: 55px;
  position: relative;
}

.titelStreepje::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.titelStreepje::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #530a0e;
  bottom: 0;
  left: calc(50% - 20px);
}

.containerMenu .menuNav {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}

.containerMenu .menuNav a {
  color: white;
  margin: 0 25px 0 25px;
  padding: 12px;
  width: 100px;
  background-color: #530a0e;
  border-radius: 15px;
}

@media only screen and (max-width: 375px) {
  .containerMenu .menuNav {
    flex-direction: column;
  }

  .containerMenu .menuNav a {
    margin-bottom: 10px;
  }
}

.containerMenu .priceCart {
  display: flex;
  align-items: center;
}

.containerMenu .priceCart .priceTag {
  margin: 0 15px 2.5px 15px;
}

.containerMenu .priceCart .addToCart {
  background-color: #530a0e;
  cursor: pointer;
  color: white;
  border: 2px solid black;
  padding: 5px 10px 5px 10px;
  transition: all 1.2s ease 0s;
  display: flex;
  margin-left: 5px;
  border-radius: 15px;
  margin-top: 2.5px;
}

.containerMenu .priceCart .addToCart .fa {
  margin: 0;
}

.containerMenu .priceCart .addToCart .fa-plus {
  margin-right: 10px;
}

.containerMenu .priceCart .addToCart i {
  font-size: 25px;
}

.containerMenu .priceCart .addToCart:hover,
.containerMenu .priceCart .addToCart:focus {
  box-shadow: inset 0 0 0 2em #530a0e;
  border-color: white;
}

.containerMenu #pizzaMenu,
.containerMenu #pastaMenu {
  padding-top: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerMenu .gerecht {
  background-color: #530a0e;
  width: 70%;
  height: auto;
  border-radius: 15px;
  margin: 25px 0 25px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerMenu .gerecht p,
.containerMenu .gerecht h3 {
  color: white;
  text-align: start;
}

.containerMenu #drankMenu {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

.containerMenu #drankMenu .drankRow {
  width: 70%;
  height: auto;
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
}

.containerMenu #drankMenu .drankRow .drankColumn {
  width: 40%;
  background-color: #530a0e;
  border-radius: 15px;
  padding: 15px;
  height: auto;
  min-width: 400px;
}

.containerMenu #drankMenu .drankRow .drankColumn .drankTitel {
  text-align: center;
  color: white;
  height: 10%;
}

.containerMenu #drankMenu .drankRow .drankColumn .drankjes {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-evenly;
}

.containerMenu #drankMenu .drankRow .drankColumn .drank {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: 7.5px 0 7.5px 0;
  text-align: start;
}

@media only screen and (max-width: 1275px) {
  .containerMenu .gerecht {
    width: 90%;
  }

  .containerMenu #drankMenu .drankRow {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .containerMenu .priceCart {
    flex-direction: column;
  }

  .containerMenu .priceCart .priceTag {
    margin: 0 0 5px 0;
  }

  .containerMenu #drankMenu .drankRow .drankColumn {
    width: 90%;
    min-width: 0;
  }
}

@media only screen and (max-width: 450px) {
  .containerMenu .priceCart {
    flex-direction: column;
  }

  .containerMenu .priceCart .priceTag {
    margin: 0 0 5px 0;
  }

  .containerMenu .drankMenu .drankRow {
    justify-content: center;
  }
}

/* ------------- */
/* Formulieren  */
.contact-reserveren {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact-reserveren .titel {
  font-size: 30px;
  margin-bottom: 25px;
}

.contact-reserveren .contact-form,
.contact-reserveren .reserveren-form {
  width: 100%;
}

.contact-reserveren .naam-email,
.contact-reserveren .datum-tijd {
  display: flex;
  justify-content: space-between;
}

.contact-reserveren .form-element {
  padding-bottom: 15px;
}

.contact-reserveren .form-element textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
}

.contact-reserveren .form-element .form-input {
  height: 44px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  padding: 5px 5px;
  border: 1px solid;
}

.contact-reserveren .datum {
  width: 48%;
}

.contact-reserveren .personen-tijd {
  width: 25%;
}

.contact-reserveren .naam-email .form-element {
  width: 48%;
}

.contact-reserveren .form-submit {
  text-align: center;
}

.contact-reserveren .form-submit .submit-button {
  cursor: pointer;
  height: 44px;
  font-size: 14px;
  color: #fff;
  background-color: #ec4444;
  border-color: #ec4444;
  border-radius: 15px;
  width: 100px;
}

@media only screen and (max-width: 500px) {
  .contact-reserveren .naam-email,
  .contact-reserveren .datum-tijd {
    flex-direction: column;
  }

  .contact-reserveren .naam-email .form-element,
  .contact-reserveren .datum-tijd .form-element {
    width: 100%;
  }

  .contact-reserveren .datum {
    width: 100%;
  }

  .contact-reserveren .personen-tijd {
    width: 100%;
  }
}
/* ------------- */
/* Foooter  */
footer,
.adminFooter {
  width: 100%;
  height: 150px;
  background-color: #530a0e;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: white;
}

footer .socialMediaLinks .footerSocials,
.adminFooter .socialMediaLinks .footerSocials {
  color: white;
}

footer button,
.adminFooter button {
  background-color: #530a0e;
  border: 2px solid white;
  padding: 5px 12px;
  text-align: center;
  font-size: 16px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  margin-top: 14px;
}
/* ------------- */
/* Admin Pages  */
.adminFooter {
  background-color: orange;
}

.adminHeader {
  background-color: orange;
}

.navagationbar h2 {
  color: white;
  font-size: 24px;
}

@media only screen and (max-width: 1200px) {
  .adminPage {
    background-color: orange;
  }
}

.adminMain {
  padding-top: 80px;
  padding-bottom: 10px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  row-gap: 50px;
  flex-direction: column;
}

.adminMain .adminRow {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
  row-gap: 50px;
}

.adminMain .adminRow .adminColumn {
  height: auto;
  width: 47.5%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.adminMain .adminRow .adminColumn .adminLine {
  height: 5px;
  width: 100px;
  background-color: orange;
}

.adminMain .adminRow .adminColumn .registreer {
  width: 450px;
  background-color: orange;
}

.adminMain .adminRow .adminColumn .registreer form .submitLogin-register {
  background-color: orange;
}

.tableMain {
  height: auto;
  padding-top: 100px;
}

.adminMain .tableRow {
  flex-direction: column;
  align-items: center;
  row-gap: 0;
  overflow-x: auto;
}

.adminMain .tableRow div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.adminMain .tableRow div h2 {
  font-size: 30px;
}

.adminMain .tableRow div button {
  cursor: pointer;
  margin: 15px 0 15px 0;
  height: 40px;
  font-size: 14px;
  color: #fff;
  background-color: orange;
  border-color: orange;
  border-radius: 15px;
  width: 140px;
}

.adminMain .adminRow table {
  width: 80%;
  margin-bottom: 100px;
  min-width: 1000px;
}

.adminMain .tableRow table button {
  cursor: pointer;
  height: 30px;
  font-size: 14px;
  color: #fff;
  background-color: orange;
  border-color: orange;
  border-radius: 15px;
  width: 80%;
}

.adminMain .tableRow table .delete {
  background-color: red;
  border-color: red;
}

.adminMain .adminRow table td,
.adminMain .adminRow table th {
  text-align: left;
  padding: 8px;
}

.adminMain .adminRow table .changeDelButton {
  text-align: center;
}

.adminMain .adminRow table .gerechtNaam {
  width: 25%;
}

.adminMain .adminRow table .gerechtBeschrijving {
  width: 35%;
}

.adminMain .adminRow table .gerechtCatagorie {
  width: 12.5%;
}

.adminMain .adminRow table .gerechtPrijs {
  width: 7.5%;
}

.adminMain .adminRow table .drankNaam {
  width: 30%;
}

.adminMain .adminRow table .drankCatagorie {
  width: 30%;
}

.adminMain .adminRow table .drankPrijs {
  width: 20%;
}

.adminMain .adminRow table .gerechtChange,
.adminMain .adminRow table .gerechtDelete {
  width: 10%;
}

.adminMain .adminRow table th {
  background-color: orange;
  color: white;
}

.adminMain .adminRow table tr:nth-child(even) {
  background-color: #dddddd;
}

@media only screen and (max-width: 1000px) {
  .adminMain .adminRow {
    flex-direction: column;
    align-items: center;
  }

  .adminMain .adminRow .adminColumn {
    width: 80%;
  }

  .adminMain {
    height: auto;
  }
  .adminMain .tableRow {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .adminMain .adminRow .adminColumn .registreer {
    width: 100%;
  }
}
/* ------------- */
